h1 {
    color: rgb(176, 220, 252);
    background: rgb(255, 205, 213);
}
h2 {
    color: rgb(176, 220, 252);
    background: rgb(252, 173, 186);
}
h3 {
    color: rgb(176, 220, 252);
    background: rgb(249, 132, 152);
}
h4 {
    color: rgb(176, 220, 252);
    background: rgb(250, 98, 124);
}
h5 {
    color: rgb(176, 220, 252);
    background: rgb(250, 58, 90);
}
h6 {
    color: rgb(176, 220, 252);
    background: rgb(252, 24, 62);
}
